@model GraduationProject.Models.BackRegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/BackEnter.cshtml";
}
<div class="login" style="margin-top:100px;">
    <div class="header">
        <div class="switch" id="switch">
            <a class="switch_btn" id="switch_qlogin" href="javascript:void(0);" tabindex="7">快速登录</a>
            <a class="switch_btn_focus" id="switch_login" href="javascript:void(0);" tabindex="8">快速注册</a>
            <div class="switch_bottom" id="switch_bottom" style="position: absolute; width: 64px; left: 154px;"></div>
        </div>
    </div>
    <!--注册-->
    <div class="qlogin" id="qlogin">
        <div class="web_login" id="web_login">
            <div class="login-box">
                <div class="login_form">
                    @using (Html.BeginForm("RegisterValidate", "Manager", new { @class = "loginFomm" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                        <input type="hidden" name="did" value="0" />
                        <input type="hidden" name="to" value="log" />
                        <div class="uinArea" id="uinArea">
                            @Html.LabelFor(m => m.UserName, new { @class = "input-tips" })
                            <div class="inputOuter" id="uArea">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "inputstyle" })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="uinArea" id="uinArea">
                            @Html.LabelFor(m => m.NickName, new { @class = "input-tips" })
                            <div class="inputOuter" id="uArea">
                                @Html.TextBoxFor(m => m.NickName, new { @class = "inputstyle" })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="pwdArea" id="pwdArea">
                            @Html.LabelFor(m => m.Password, new { @class = "input-tips" })
                            <div class="inputOuter" id="pArea">
                                @Html.TextBoxFor(m => m.Password, new { @class = "inputstyle" ,type="password"})
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="pwdArea" id="pwdArea">
                            @Html.LabelFor(m => m.Password2, new { @class = "input-tips" ,type="password"})
                            <div class="inputOuter" id="pArea">
                                @Html.TextBoxFor(m => m.Password2, new { @class = "inputstyle" })
                                @Html.ValidationMessageFor(model => model.Password2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="inputArea">
                            <input type="submit" id="reg" style="margin-top:10px;margin-left:65px;" class="button_blue" value="同意协议并注册" /> <a href="#" class="zcxy" target="_blank">注册协议</a>
                        </div>
                        <div class="cl"></div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--注册end-->
</div>